@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
  --cta_button_width: 105px;
  --cta_button_height: 50px;
}

/* Main elements */

html {
  font-size: 15px;
}

.app {
  font-family: 'Merriweather Sans', sans-serif;
  background: #ede7de;
  width: 100vw;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150vh; /* good is 110vh ? */
}

.layout .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #4C6763;
  font-size: 0.9em;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
}

.layout .nav-bar-inner {
  width: 70%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

.layout .nav-bar-inner-border {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15px );
  border-radius: 50px;

  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: backdrop-filter, box-shadow, background;
}

.layout .nav-bar a {
  text-decoration: none;
  color: #4C6763;
}


.layout .footer {
  padding: 0;
}

.layout .footer .footer-mountains {
  width: 100vw;
  opacity: 0.8;
  vertical-align: bottom;
}

/* Outlet elements */

/* Home page */

.main-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: 500;
  height: 95%;
}

.main-bloc .main-bloc-text {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 3em 0 1.5em 0;
  width: 90%;
}

.main-bloc .main-bloc-text .main-title {
  padding: 2rem;
  color: #025A4E;
  font-size: 3.5rem;
}

.main-bloc .main-bloc-text .main-subtitle {
  color: #4C6763;
  font-size: 1rem;
  font-weight: 400;
  word-spacing: 0.4rem;
  line-height: 1.9rem;
}


.main-bloc .cta-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
}

.main-bloc .cta-buttons .cta-main-button {
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #025A4E;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: var(--cta_button_width);
  height: var(--cta_button_height);
  word-spacing: 0.2rem;
}

.main-bloc .cta-buttons .cta-main-button:hover {
  scale: 1.05;
}

.main-bloc .cta-buttons .cta-more-info-button {
  color: #025A4E;
  border-radius: 10px;
  border: 1px solid #025A4E;
  font-weight: 500;
  cursor: no-drop;
  background: transparent;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  width: var(--cta_button_width);
  height: var(--cta_button_height);
  word-spacing: 0.2rem;
}


/* About page */


.about-block {
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}

.profile-pic {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.profile-desc {
  width: 90%;
  font-size: 20px;
  font-weight: 500;
  color: #292929;
}

.sep-line {
  height: 1px;
  background-color: #292929;
  margin: auto;
  width: 50%;
}

.about-cards {
  padding: 70px 50px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border-top: 1px solid rgba( 255, 255, 255, 0.6 );
  border-left: 1px solid rgba( 255, 255, 255, 0.6 );

  width: 40%;
  height: 200px;
}


.glassmorph {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: transparent;
  border: 2px solid #222222;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #222222;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: linear-gradient(93deg, #C10DFF 0%, #48DCFF 100%);
}


/* Media Queries */


@media screen and (min-width: 426px) {
  
}


@media screen and (max-width: 1024px) {
  
}


@media screen and (max-width: 1200px) {
}


/* Code bits for later */

.future-bg-color {
  background-color: #ede7de;
}