@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
  --cta_button_width: 105px;
  --cta_button_height: 50px;
  --cta_button_border_radius: 12px;
  --about_width: 80%;
}

/* Main elements */

html {
  font-size: 15px;
}

.app {
  font-family: 'Merriweather Sans', sans-serif;
  background: #ede7de;
  width: 100vw;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150vh; /* good is 110vh ? */
}

.layout .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #4C6763;
  font-size: 0.9rem;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
}

.layout .nav-bar-inner {
  width: 200px;
  height: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s linear;
  padding: 0.2rem 1.2rem;
}

.layout .nav-bar-inner-border {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 15px );
  border-radius: 50px;

  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: backdrop-filter, box-shadow, background;
}

.layout .nav-bar a {
  text-decoration: none;
  color: #4C6763;
}


.layout .footer {
  padding: 0;
}

.layout .footer .footer-mountains {
  width: 100vw;
  opacity: 0.8;
  vertical-align: bottom;
}

/* Common elements */

.main-title {
  padding: 2rem 1rem;
  color: #025A4E;
  font-size: 3.5rem;
}

.main-subtitle {
  color: #4C6763;
  font-size: 1rem;
  font-weight: 400;
  word-spacing: 0.4rem;
  line-height: 1.9rem;
  padding-bottom: 0.7rem;
}

.about-card {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 2px 2px 10px 0 rgba( 31, 38, 135, 0.1);
  border-radius: 8px;  
  border-top: 1px solid rgba( 255, 255, 255, 0.6 );
  border-left: 1px solid rgba( 255, 255, 255, 0.6 );
  padding: 1em;
}

/* Outlet elements */

/* Home page */

.main-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: 500;
  height: 95%;
}

.main-bloc .main-bloc-text {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 3em 0 1.5em 0;
  width: 90%;
}

.main-bloc .cta-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
}

.main-bloc .cta-buttons .cta-main-button {
  color: white;
  border: none;
  border-radius: var(--cta_button_border_radius);
  cursor: pointer;
  background-color: #025A4E;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: var(--cta_button_width);
  height: var(--cta_button_height);
  word-spacing: 0.2rem;
}

.main-bloc .cta-buttons .cta-main-button:hover {
  scale: 1.05;
  transition: 0.4s;
}

.main-bloc .cta-buttons .cta-more-info-button {
  border-radius: var(--cta_button_border_radius);
  border: 1px solid #025A4E;
  cursor: pointer;
  background: transparent;
  width: var(--cta_button_width);
  height: var(--cta_button_height);
  text-decoration: none;
  color: #025A4E;
  word-spacing: 0.2rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* About page */


.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-weight: 500;
  gap: 2rem;
  padding: 0 0 4rem 0;
}

.about-block .pic-and-desc {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 4rem 0 0rem 0;
  width: var(--about_width);
}

.about-block .pic-and-desc .profile-pic {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}

.about-block .pic-and-desc .about-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-block .pic-and-desc .values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.3rem;
  padding-top: 1.3rem;
}

.about-block .pic-and-desc .values .value-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-block .pic-and-desc .values .value-card .value-title {
  font-size: 1.5rem;
  color: #025A4E;
  padding-bottom: 0.7rem;
}

.about-block .pic-and-desc .values .value-card .value-description {
  color: #4C6763;
  font-size: 0.75rem;
  font-weight: 200;
  word-spacing: 0.3rem;
  line-height: 1.2rem
}

.about-block .exp-and-proj {
  width: var(--about_width);
}

.about-block .exp-and-proj .experience h2 {
  color: #025A4E;
  font-size: 2rem;
  padding-bottom: 0.7rem;
}

.about-block .exp-and-proj .experience .experience-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  gap: 1.3rem;
}

.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header .experience-card-header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header .experience-card-header-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 0.25rem;
  font-size: 0.8rem;
  width: 40%;
  color: #4C6763;
}

.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header .experience-card-header-left h3 {
  font-size: 1.5rem;
  color: #025A4E;
  padding-bottom: 0.5rem;
  margin: 0;
  font-weight: 500;
}

.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header .experience-card-header-left a {
  color: #4C6763;
  font-size: 0.9rem;
  font-weight: 200;
  word-spacing: 0.3rem;
  margin: 0;
  line-height: 1.2rem;
  text-decoration: none;
  padding-bottom: 0.3rem;
  word-spacing: 0.2rem;
}


.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header .experience-card-header-left h5 {
  color: #4C6763;
  font-size: 0.75rem;
  font-weight: 200;
  word-spacing: 0.3rem;
  margin: 0;
  line-height: 1.2rem;
}

.about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-body {
  color: #4C6763;
  font-size: 0.75rem;
  font-weight: 200;
  word-spacing: 0.3rem;
  line-height: 1.2rem;
  text-align: left;
}


.glassmorph {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: transparent;
  border: 2px solid #222222;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #222222;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: linear-gradient(93deg, #C10DFF 0%, #48DCFF 100%);
}


/* Media Queries */

@media screen and (max-width: 350px) {
  .about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .about-block .exp-and-proj .experience .experience-cards .experience-card .experience-card-header .experience-card-header-right {
    align-items: flex-start;
    padding: 0.7rem 0
  }
}

@media screen and (min-width: 376px) {
  
}

@media screen and (min-width: 426px) {
  .about-block .pic-and-desc {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .layout .nav-bar-inner {
    width: 320px;
    height: 60%;
    font-size: 1.25rem;
  }
  
  .about-block {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 5rem;
  }

  .about-block .exp-and-proj .experience h2 {
    margin-top: 2rem;
  }

  .about-block .pic-and-desc {
    padding: 0;
  }  

  .about-block .pic-and-desc .values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}


@media screen and (min-width: 1024px) {

}


@media screen and (min-width: 1440px) {
  .layout .nav-bar-inner {
    width: 360px;
    height: 62%;
    font-size: 1.5rem;
  }
}


/* Code bits for later */

.future-bg-color {
  background-color: #ede7de;
}