html {
  font-size: 30px;
}

.app {
  font-family: 'Poppins';
  font-weight: 100;
  background: #e6eaeb; background-image: radial-gradient(at 9.1% 27.6%, #94dfe3 0px, transparent 50%),radial-gradient(at 69.0% 15.0%, #d6d5ab 0px, transparent 50%),radial-gradient(at 78.9% 36.0%, #c27ad6 0px, transparent 50%),radial-gradient(at 67.1% 82.3%, hsl(3, 95%, 78%) 0px, transparent 50%),radial-gradient(at 17.2% 72.8%, #ede96b 0px, transparent 50%);
  width: 100vw;
}

.landing-bloc {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #181818;
  font-size: 22px;
}

.logo-top-left {
  width: 40px;
  height: 40px;
}

.top-left-name {
  font-weight: 500;
  font-size: 1rem;
}

.nav-bar-right-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  visibility: hidden;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #181818;
}

.available-rectangle {
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  border: 1px solid #292929;
  background: rgba(146, 146, 146, 0.11);
  backdrop-filter: blur(4.4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.available-text {
  font-size: 16px;
  font-weight: 600;
}

.available-dot {
  height: 15px;
  width: 15px;
  background-color: #38B124;
  border-radius: 50%;
}


.main-bloc-text {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  height: 55%;
  margin: 1em;
}

.main-bloc-text p {
  margin: 0;
}

#main-bloc-machine-learning {
  max-width: max-content;
  background: -webkit-linear-gradient(0deg, #CC00FF 0%, #1AC7FE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main-bloc-python-dev {
  color: #292929;
}

.cta-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 54%;
}

.cta-main-button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 60px;
  cursor: pointer;
  background: linear-gradient(93deg, #C10DFF 0%, #48DCFF 100%);
  font-size: 30px;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
}

.cta-main-button:hover {
  scale: 1.02;
}

.cta-more-info-button {
  color: black;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px 60px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  font-family: Poppins;
  line-height: normal;
}

.about-block {
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}

.profile-pic {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.profile-desc {
  width: 90%;
  font-size: 20px;
  font-weight: 500;
  color: #292929;
}

.sep-line {
  height: 1px;
  background-color: #292929;
  margin: auto;
  width: 50%;
}

.about-cards {
  padding: 70px 50px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.25 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border-top: 1px solid rgba( 255, 255, 255, 0.6 );
  border-left: 1px solid rgba( 255, 255, 255, 0.6 );

  width: 40%;
  height: 200px;
}


.glassmorph {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: transparent;
  border: 2px solid #222222;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #222222;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: linear-gradient(93deg, #C10DFF 0%, #48DCFF 100%);
}


/* Media Queries */


@media screen and (max-width: 480px) {
  
}


@media screen and (max-width: 768px) {
  
}


@media screen and (max-width: 1024px) {
  
}


@media screen and (max-width: 1200px) {
}